{% extends 'layout.twig' %}

{% block contentItem %}
{% if addedToCart == 'added' %}
	<div class="alert alert-success success-alert" role="alert">
		The item has been added to the cart.
	</div>
{% elseif addedToCart == 'notlogged' %}
	<div class="alert alert-warning success-alert" role="alert">
		Please log-in before adding something to cart.
	</div>
{% endif %}
	{% for strain in strains %}
		{% if ref == strain.ref %}
			<div class="container mt-5">
				<div class="card mb-3" style="max-height: 450px;">
				  <div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="./public/img/{{ strain.img }}" class="card-img" alt="{{ strain.name }}">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">{{ strain.name }} | {{ strain.price }} €</h5>
				        <p class="card-text">{{ strain.description }}</p>				        
			          <div class="row align-items-center justify-content-center">
			          	<form action="addBasket.php" method="POST" class="col-sm-6 d-flex justify-content-around">
										<input type="hidden" name="itemId" value="{{ strain.id }}">
										<input type="hidden" name="itemRef" value="{{ strain.ref }}">
										<input type="hidden" name="itemName" value="{{ strain.name }}">
										<input type="hidden" name="itemImg" value="{{ strain.img }}">
										<input type="hidden" name="itemPrice" value="{{ strain.price }}">
										<input name="itemcount" id="itemscount" type="number" class="form-control text-center col-sm-3" value="1">
										<button name="addCart" class="btn btn-outline-success text-center"><i class="fas fa-cart-arrow-down"></i></button>
									</form>
								</div>												        
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}